.button {
    cursor: pointer;
    display: inline-block;
    padding: 12px 16px;
    text-align: center;
    font-weight: var(--font-bold);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: 24px;
    background-color: transparent;
    transition: border-color 300ms, color 300ms, background-color 300ms;
    &:has(i) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
    &--primary {
        color: hsl(var(--primary-foreground));
        background-color: hsl(var(--primary));
        border-color: hsl(var(--primary));
        &:is(:hover, :active) {
            background-color: hsla(var(--primary), var(--hover));
            border-color: hsla(var(--primary), var(--hover));
        }
    }
    &--blur {
        background-color: hsla(var(--primary), .1);
        -webkit-backdrop-filter: blur(6px);
        -moz-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
    }
    &--secondary {
        color: hsl(var(--secondary-foreground));
        background-color: hsl(var(--secondary));
        border-color: hsl(var(--secondary));
        &:is(:hover, :active) {
            background-color: hsla(var(--secondary), var(--hover));
            border-color: hsla(var(--secondary), var(--hover));
        }
    }
    &--outline {
        color: hsl(var(--foreground));
        background-color: transparent;
        border-color: hsl(var(--foreground));
    }
    &--ghost {}
}
