.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding-block: 24px;
    border-bottom: 1px solid hsla(var(--primary), .2);
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--gap);
    }
}

// logo
.header__logo,
.logo {
    &__brand {
        font-size: 18px;
        text-transform: uppercase;
        color: hsla(var(--foreground), .7);
        &-span {
            font-weight: var(--font-bold);
            color: hsl(var(--foreground));
        }
    }
}

// navbar
.header__navbar,
.navbar {
    margin-inline-start: auto;
    @include lg {
        position: absolute;
        right: 15px;
        top: calc(100% + 20px);
        z-index: 90;
        padding: 24px 24px;
        min-width: 230px;
        border-radius: var(--radius);
        background-color: hsl(var(--secondary));
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 300ms ease-in-out;
        &.navbar--active {
            top: calc(100% + 10px);
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transition: all 300ms ease-in-out;
        }
    }
    &__menu {
        @include flex-row("center-start");
        @include lg {
            @include flex-col("center-start");
        }
        &-item {
            display: inline-flex;
            @include lg {
                width: 100%;
            }
        }
        &-link {
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            font-weight: var(--font-semibold);
            color: hsla(var(--foreground), .7);
            transition: color 300ms ease-out;
            &:is(:hover, :active) {
                color: hsl(var(--foreground));  
            }
            @include lg {
                width: 100%;
                font-size: 18px;
                text-align: right;
            }
        }
    }
}

// actions
.header__actions,
.header-actions {
    @include flex-row("center-center");
    &__item {
        &--burger {
            display: none;
            @include lg {
                display: block;
                order: 2;
            }
        }
        &--contact {
            @include lg {
                order: 1;
            }
        }
    }
    &__button {
        &--burger {
            --size: 45.6px;
            width: var(--size);
            height: var(--size);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: hsl(var(--foreground));
            background-color: transparent;
            border: 1px solid hsl(var(--border));
            border-radius: var(--radius);
        }
    }
}